<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://voyant-tools.org/tool/Bubbles/?stopList=keywords-d91a70c69af1e5c9bdcee470655d8ad8&corpus=4e047055ee11c4a9101b6aad4b1d04ee" allowfullscreen></iframe>
</div>
